.numOrder{
    text-align: center;
    margin: 10px;
    font-size: 300%;
    font-weight: bold;
    color: #818e9b;
}

#num{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #818e9b;


}