<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>order-info</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="side-bar"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-details-order-container (idOrderEventEmit)="setIdOrder($event)"></app-details-order-container>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="acceptOrder()" fill="solid" color="light" >Accept<ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="rejectOrder()" fill="solid" color="medium">Reject<ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
