<p>
  order-card-li works!
</p>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card>
        <div class="container">
          <div id="id">#{{nOrder}}</div>
          <div id="total">Total</div>

          <div class="container2">
            <div class="items">
              <span id="item">2 Sushi California</span><span id="price">-$60.00</span> <span id="sa">See all</span>
            </div>
           <div class="items">
              <span id="item">2 Sushi California</span><span id="price">-$60.00</span> <span id="sa">See all</span>
           </div>
           <span id="totalPrice">$120.00</span>
          </div>
          <button class="btn">Open +</button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
