<ion-card>
    <ion-card-header> 2 Sushi California $60.00</ion-card-header>
    <ion-accordion-group>
        <ion-accordion>
            <ion-item slot="header">
                <ion-label>Selected Preparation</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Pollo</div>
        </ion-accordion>
        <ion-accordion>
            <ion-item slot="header">
                <ion-label>Removed Ingredients</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Alga</div>
        </ion-accordion>
        <ion-accordion>
            <ion-item slot="header">
                <ion-label>Extra Added</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Aguacate</div>
        </ion-accordion>
    </ion-accordion-group>
</ion-card>
